<div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
        <li>
            <div class="logo-wrapper waves-light">
                <a routerLink="/home"><h1 class="logo">Rute.Ar</h1></a>
            </div>
        </li>
    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>
<main>
    <div class="container">
        <div class="col-md-8 order-md-1">
            <div class="text-center mb-4">
                <img class="mb-4" src="/assets/images/logo.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
            </div>
            <app-register-form></app-register-form>
        </div>
    </div>
</main>
