<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="./register">Formulario registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./admin">Home Administrador</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./user">Home Usuario</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
