.logo {
    background-color: transparent !important;
    margin-top: 5%;
    margin-left: 10%;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white !important;
}

.table-wrapper {
    display: block;
    max-height: 85vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

footer {
    position: fixed;
    width: 100%;
    padding-top: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
}

td {
    vertical-align: middle !important;
}

#botonBuscarUsuarios {
    width:90% !important;
    height: 30px !important;
}

#formularioRegistro {
    width: 100%;
    padding: 15px;
    margin-left: 27% !important;
}

.map {
    height: 60%;
    width: 100%;
}

.table tr{
    text-align: center; 
}

.container-form{
    padding-left: 160px!important;
}

.container-login, .container-register{
    padding-left: 200px!important;
}

.container-table{
    width: 1300px;
}