<div class="container">
    <div class="row">
        {{diagnostic}}
        <div class="col-md-12 order-md-1">
            <h2 class="mb-3">Nueva Ruta</h2>
            <form class="needs-validation" (ngSubmit)="onSubmit(rutaNew)" #rutaNew="ngForm">
                <div class="mb-3">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" id="nombre" placeholder="Nombre de la ruta a agregar.." [(ngModel)]="ruta.nombre" name="nombre"
                        required>
                </div>
                <div class="mb-3">
                    <label for="descripcion">Descripcion</label>
                    <div class="input-group">
                        <textarea rows="3" class="form-control" id="descripcion" placeholder="Descripcion de la ruta a agregar..." [(ngModel)]="ruta.descripcion"
                            name="descripcion" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="privacidad">
                            Privacidad
                        </label>
                        <select class="custom-select d-block w-100" id="privacidad" required [(ngModel)]="ruta.privacidad" name="privacidad">
                            <option *ngFor="let privacidad of privacidades" [value]="privacidad">{{privacidad}}</option>
                        </select>
                    </div>
                
                    <div class="col-md-4 mb-3">
                        <label for="formato">
                            Formato
                        </label>
                        <select class="custom-select d-block w-100" id="formato" required [(ngModel)]="ruta.formato" name="formato">
                            <option *ngFor="let formato of formatos" [value]="formato">{{formato}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="dificultad">
                            Dificultad
                        </label>
                        <select class="custom-select d-block w-100" id="dificultad" required [(ngModel)]="ruta.dificultad" name="dificultad">
                            <option *ngFor="let dificultad of dificultades" [value]="dificultad">{{dificultad}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="recorrido">Recorrido</label>
                    <input type="file" class="form-control-file" id="recorrido" name="recorrido" [(ngModel)]="ruta.recorrido">
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="actividad">Actividad</label>
                        <select class="custom-select d-block w-100" id="actividad" required [(ngModel)]="ruta.actividad" name="actividad">
                            <option *ngFor="let actividad of actividades" [value]="actividad.id">{{actividad.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Fecha de Realización</label>
                        <input type="date" name="fecha" id="fecha" max="3000-12-31" min="1000-01-01" class="form-control" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="distancia">Distancia en km</label>
                        <input type="number" class="form-control" name="distancia" id="distancia" min="0" [(ngModel)]="ruta.distancia" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="tiempo">Tiempo estimado en minutos</label>
                        <input type="number" class="form-control" name="tiempo" id="tiempo" min="0" [(ngModel)]="ruta.tiempo" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="fotos">Subir fotos</label>
                    <input type="file" class="form-control-file" name="fotos" id="fotos" [(ngModel)]="ruta.fotos" required>
                </div>
                <hr class="mb-4">
                <button class="btn btn-default btn-lg btn-block" type="submit" [disabled]="!rutaNew.form.valid">Confirmar</button>
            </form>
        </div>
    </div>
</div>