<div class="container container-form">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <h2 class="mb-3">Detalle de la Ruta: <b>{{ruta.nombre}}</b></h2>
            <form class="needs-validation" novalidate>
                <br>
                <div class="mb-3">
                    <label for="descripcion">Descripcion</label>
                    <div class="input-group">
                        <textarea rows="4" class="form-control" id="descripcion" disabled>{{ ruta.descripcion }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="routePrivacy">Privacidad</label>
                        <input type="text" class="form-control" id="routePrivacy" value="{{ruta.privacidad | textcorrector}}" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="dificultad">Dificultad</label>
                        <input type="text" class="form-control" id="dificultad" value="{{ruta.dificultad | textcorrector}}" disabled>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="routeFormat">Formato</label>
                        <input type="text" class="form-control" id="routeFormat" value="{{ruta.formato | textcorrector }}" disabled>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="puntaje">Puntaje Promedio</label>
                        <ng-container *ngIf="ruta.puntaje != '0'; else elsePuntaje">
                            <input type="text" class="form-control" id="puntaje" value="{{ruta.puntaje}}" disabled>
                        </ng-container>
                        <ng-template #elsePuntaje>
                            <input type="text" class="form-control" id="puntaje" value="Sin puntuar" disabled>
                        </ng-template>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="cantUsuariosRealizaron">Recorrida por</label>
                        <ng-container *ngIf="ruta.usuarios == '1'; else elseUsuario">
                            <input type="text" class="form-control" id="cantUsuariosRealizaron" value="{{ruta.usuarios}} usuario" disabled>
                        </ng-container>
                        <ng-template #elseUsuario>
                            <input type="text" class="form-control" id="cantUsuariosRealizaron" value="{{ruta.usuarios}} usuarios" disabled>
                        </ng-template>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="recorrido">Recorrido</label>
                    <div #gmap style="width:100%;height:400px"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="actividad">Actividad</label>
                        <input type="text" class="form-control" id="actividad" value="{{ruta.actividad.nombre}}" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="distancia">Distancia</label>
                        <input type="text" class="form-control" name="distancia" id="distancia" value="{{ruta.distancia}} km" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Fecha de Realización</label>
                        <input type="text" class="form-control" name="fecha" id="fecha" value="{{ruta.fecha}}" class="form-control" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="tiempo">Tiempo estimado en minutos</label>
                        <input type="text" class="form-control" name="tiempo" min="0" value="{{ruta.tiempo}} minutos" disabled>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="recorrido">Fotos</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="mdb-lightbox-ui"></div>
                            <div class="mdb-lightbox">
                                <div class="row">
                                    <div class="col-md-4 mb-3" *ngFor="let foto of ruta.fotos">
                                        <figure>
                                            <img [src]="getUrlFoto(foto)" alt="placeholder" class="img-fluid">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label for="notas">Notas</label>
                <div class="card card-cascade narrower p-2">
                    <div class="px-6">
                        <div class="table-wrapper">
                            <!--Table-->
                                <table class="table table-responsive-md btn-table">
                                    <!--Table head-->
                                    <thead class="blue-grey lighten-4">
                                        <tr>
                                            <th>Autor</th>
                                            <th>Categoría</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody>
                                        <tr *ngFor="let nota of ruta.notas; let i = index">
                                            <td>{{ nota.autor.nombre }} {{ nota.autor.apellido }}</td>
                                            <td><span class="badge " [ngClass]="categoryClass(nota.categoria)" >{{ nota.categoria }}</span></td>
                                            <td>{{ nota.descripcion }}</td>
                                        </tr>
                                    </tbody>
                                    <!--Table body-->
                                </table>

                            <!--Table-->
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="text-center" *ngIf="isCreadorRuta()">
                    <button type="button" class="btn btn-dark-green" (click)="update()">Modificar</button>
                    <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-default" (click)="goBack()">Volver</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>